aiohttp
asn1crypto
async-timeout
atomicwrites
attrs
certifi
cffi
chardet
charset-normalizer
coincurve
colorama
cytoolz
discord-webhook
discord.py
eth-hash
eth-keyfile
eth-keys
eth-typing
eth-utils
iconsdk
idna
more-itertools
multidict
multipledispatch
packaging
pluggy
py
pycparser
pycryptodome
pyparsing
pytest
python-dotenv
requests
requests-mock
six
toolz
typing-extensions
urllib3
wcwidth
yarl
